body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color: #e0f2f2;
    margin:0;
    padding: 0;
}

.container {
    width: 30%;
    margin: 40px auto;
    text-align: left;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2{
    margin-top: 0;
    color:#333;
}

.input-group {
    position:relative;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 60%;
    bottom: 45%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
    pointer-events:none;
}

.password-strength-meter {
    margin-top: 10px;
}

.password-strength {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #37AFA9;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2e938d;
}

button[type="submit"] a {
    color: #fff;
    text-decoration: none;
    display: block;
}

p {
    font-size: 14px;
    margin: 15px 0 0;
    color: #555;
}

p a {
    color: #37AFA9;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}